doctype html
html(lang="en")
  head
    title=title
  body
    div#game

    script(src="https://rawgithub.com/craftyjs/Crafty/release/dist/crafty-min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js")
    script(src="/socket.io/socket.io.js")
    script.
      pos = {};
      pos.x = #{pos.x};
      pos.y = #{pos.y};
      id = #{id};
    script(src="js/app.js")
